<%= render partial: "shine/shared/heading", locals: { title: "Assets", subtitle: 'All' } %>
<%= render "shine/shared/notice" %>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Preview</th>
            <th>Title</th>
            <th>Description</th>
            <th>Created</th>
            <th colspan=2></th>
          </tr>
        </thead>
        <tbody>
          <% @assets.each do |asset| %>
            <tr>
              <td><%= image_tag(asset.thumbnail_url) %></td>
              <td><%= link_to asset.title, asset.url %></td>
              <td><%= asset.description %></td>
              <td><%= asset.created_at %></td>
              <td>
                <%= link_to edit_asset_path(asset) do %>
                  <%= icon('edit') %>
                <% end %>
              </td>
              <td>
                <%= link_to(asset, method: :delete, data: { confirm: 'Are you sure?' }) do %>
                  <%= icon('remove') %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- /.row -->

<hr />

<%= link_to 'New asset', new_asset_path, class: "btn btn-default" %>
