<!DOCTYPE html>
<html>
<head>
  <title>Shine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "shine/application", media: "all" %>
  <%= javascript_include_tag "shine/application" %>
  <%= include_uploadcare_widget_from_cdn version: "2.5.5", min: true %>
  <%= csrf_meta_tags %>
  <script>
    UPLOADCARE_PUBLIC_KEY = "<%= ENV['UPLOADCARE_PUBLIC_KEY'] %>";
  </script>
</head>
<body>
  <div id="wrapper">
    <%= render 'shine/shared/navigation' %>
    <div id="page-wrapper">
      <div class="container-fluid">
        <%= yield %>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
  </div>
  <!-- /#wrapper -->
</body>
</html>
