<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li class="active">
      <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-thumb-tack"></i> Posts <i class="fa fa-fw fa-caret-down"></i></a>
      <ul id="demo" class="collapse">
        <li>
          <%= link_to 'All', posts_path %>
        </li>
        <li>
          <%= link_to 'Pending', posts_path(status: 'pending') %>
        </li>
        <li>
          <%= link_to 'Drafts', posts_path(status: 'draft') %>
        </li>
        <li>
          <%= link_to 'Published', posts_path(status: 'published') %>
        </li>
      </ul>
    </li>
    <li>
      <a href="charts.html"><i class="fa fa-fw fa-image"></i> Media</a>
    </li>
    <li>
      <a href="tables.html"><i class="fa fa-fw fa-globe"></i> Pages</a>
    </li>
    <li>
      <%= link_to(categories_path) do %>
        <%= icon('list') %>&nbsp;Categories
      <% end %>
    </li>
    <li>
      <a href="forms.html"><i class="fa fa-fw fa-user"></i> Users</a>
    </li>
  </ul>
</div>
<!-- /.navbar-collapse -->
